<!--подключаем базовый шаблон-->
{% extends "base.html" %}
<!--вводим title-->
{% block title %}Тикет №{{ number }} {% endblock %}
<!--шаблон контента(кроме header и footer-->
{% block content %}
<main>
    <section class="py-5">
        <div class="container border rounded-lg shadow py-5" style="background-color:#F4F7F9">
            <h1 class="mb-5">Тикет №{{ id }}</h1>
            <p><strong>Имя отправителя: </strong> {{ name }}</p>
            <p><strong>Почта отправителя: </strong> {{ email }}</p>
            <!--            <p><strong>Описание: </strong>Здесь описание материала, карточки товара и количество, цены поставщика которые знает система будут-->
            <!--                проставлены автоматом</p>-->
            <p class="mb-5"><strong>Текст обращения: </strong>{{ text |safe }}</p>
    </section>
</main>
{% endblock %}